.card-body{
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
    /* margin: 5px; */
.card-title{
    color:#000;
    font-weight: bold;
}
.card-text{
    font-weight: 100;
    font-size: 1.2rem;
}
}
